<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
      <div class="container">
        <span class="navbar-brand mb-0 h1">Shop101</span>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarText"
        >
          <ul class="navbar-nav align-item-end">
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row mt-3">
        {% for product in product_list %}
        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
          <div class="card" style="width: 18rem;">
            <img
              class="card-img-top"
              src="{{product.image_url}}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{product.product_name}}</h5>
              <p class="card-text">
                {{product.description}}
              </p>
              <a href="#" class="btn btn-primary w-100">VIEW</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- No HTML After This!!! -->
    <!-- <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script> -->
    <script src="{% static 'css/bootstrap.min.js' %}"></script>
  </body>
</html>
